.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  height: 100%;
}

.App-logo {
  /* height: 40vmin; */
  height: 48px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 20px;
} */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 72px;
  min-height: 72px;
  background-color: #E93E35;
  /* box-shadow: 0 2px 2px -2px rgba(0,0,0,.2); */
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding-left: 5px;
  top: 0;
  z-index: 1;
}

.header{
  color: #DFC721;
  width: 10%;
  min-width: 240px;
  font-family: 'PokemonFont', sans-serif;
  letter-spacing: 3px;
  text-shadow: 0 0 3px #DFC721, 0 0 5px #0000FF;
}

.search-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 15px;
}

.search{
  width: 84%;
  height: 32px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 10px 5px 10px ;
  border: none;
}

.search-button{
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 20px;
  z-index: 0;
  padding-left: 5px;
  padding-right: 5px;
}

/* .App-content:hover {
    overflow-y: scroll !important;
}

.App-content::-webkit-scrollbar {
    width: 10px !important;
}

.App-content::-webkit-scrollbar-track {
    background: #E8E9E8 !important;
}

.App-content::-webkit-scrollbar-thumb {
    background-color: #DFC721 !important;
    border-radius: 20px !important;
} */


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-wrapper{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 399px;
  height: 570px;
  border: none;
  border-radius: 15px;
  background-color: #DFC721;
  box-shadow: rgba(223, 99, 33, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px 10px 10px 10px;
  /* background: linear-gradient(145deg, #cacaca, #DFC721); */
  /* box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
}

.card-container:hover {
  transform: scale(1.05);
}

.title-container{
  width: 100%;
  background-color:#61dafb;
  margin-bottom: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-weight: bold;
  font-family: 'PokemonFont', sans-serif;
  -webkit-text-stroke: 1px #3466AF;
  color: #DFC721;
  letter-spacing: 2px;
}

.image-container{
  width: 100%;
  height: 240px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: inset -5px -5px -5px -5px rgba(255,255,255,0.45);
}

.pokemon-image{
  max-width: 45%;
  border: #282c34 3px;
}

.base-stats-container{
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 9px 12px 9px 12px;
  gap: 10px;
}

.base-stat{
  transform: skew(-20deg);
  background-color: aquamarine;
}

.stat-text{
  font-size: 11px;
  transform: skew(20deg);
  margin: 0 6px 0 3px;
}

.stats-section{
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  padding: 9px 5px 9px 5px;
}

.stats-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: aquamarine;
  padding: 3px 5px 3px 5px;
  font-size: 11px;
  gap: 5px;
}

.label{
  font-weight: bold;
}

/* .text{
  font-size: 0.9em;
} */

.pokemon{
  font-family: 'PokemonFont', sans-serif;
  font-size: 0.8em;
}

.abilities-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 9px 5px 9px 5px;
  background-color: #0000FF;
}

.section-wrapper {
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 6px 3px 6px 3px;
  top: -36px;
}

.section-header {
  position: relative;
  top: 36px;
  left: -156px;
  background-color: #333;
  width: 48px;
  border-radius: 10px;
}

.header-text{
  color: white;
  font-size: 12px;
  margin: auto;
}

.ability{
  border: none;
  border-radius: 5px;
  background-color: aquamarine;
  padding: 3px 5px 3px 5px;
  font-size: 12px;
  bottom: -20px;
  margin: auto;
}

.tooltip{
  max-width: 75%;
}