.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  height: 100%;
}

.App-logo {
  height: 48px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 72px;
  min-height: 72px;
  background-color: #E93E35;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding-left: 5px;
  top: 0;
  z-index: 1;
}

.header{
  color: #DFC721;
  width: 10%;
  min-width: 240px;
  font-family: 'PokemonFont', sans-serif;
  letter-spacing: 3px;
  text-shadow: 0 0 3px #DFC721, 0 0 5px #0000FF;
}

.search-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 15px;
}

.search{
  width: 84%;
  height: 32px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 10px 5px 10px ;
  border: none;
}

.search-button{
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 20px;
  z-index: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-wrapper{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 399px;
  height: 570px;
  border: none;
  border-radius: 15px;
  background-color: #3466AF;
  box-shadow: rgba(223, 99, 33, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
}

.card-content{
  display: flex;
  flex-direction: column;
  background-color: #DFC721;
  height: 100%;
  border-radius: 10px;
}

.card-container:hover {
  box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff;
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 90vw;
    max-width: none;
  }
}

.title-container{
  width: 100%;
  background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
  margin-bottom: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-weight: bold;
  font-family: 'PokemonFont', sans-serif;
  -webkit-text-stroke: 1px #3466AF;
  color: #DFC721;
  letter-spacing: 2px;
}

.image-container{
  width: 100%;
  height: 120px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  box-shadow: inset 0 0 10px #1B233D;
  padding-bottom: 10px;
}

.pokemon-image{
  max-width: 45%;
  max-height: 100%;
  border: #282c34 3px;
  filter: drop-shadow(5px 5px 5px #222);
}

.types-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 5px;
  height: 12px;
  background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);;
}

.type-image{
  height: 1em;
}

.base-stats-container{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 9px 12px 9px 12px;
}

.base-stat-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  color: #1B233D;
}

.base-stat-item .label{
  font-weight: bold;
  font-size: 1.1em;
}

.base-stat-item .text{
  letter-spacing: 2px;
}

.v-line{
  border-left: 1px solid #1B233D;
  height: 100%;
}

.ability{
  transform: skew(-20deg);
  background-color: #DFC721;
  color: #1B233D;
}

.ability-text{
  font-size: 11px;
  transform: skew(20deg);
  margin: 3px 6px 3px 3px;
}

.stats-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0 6px 0 6px;
  border-top: 2px solid #1B233D;
  border-bottom: 2px solid #1B233D;
  flex-wrap: wrap;
  padding: 5px 5px 5px 5px;
}

.stats-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.stats-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #282c34;
  padding: 3px 5px 3px 5px;
  color: #DFC721;
  font-size: 11px;
  gap: 5px;
  width: 45%;
  /* margin: auto; */
}

.move-header{
  text-align: left;
  padding: 6px 12px 6px 12px;
  color: #1B233D;
  font-size: 0.8em;
  font-weight: bold;
}

.move-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #282c34;
  padding: 3px 5px 3px 5px;
  color: #DFC721;
  font-size: 11px;
}

.label{
  font-weight: bold;
}

.pokemon{
  font-family: 'PokemonFont', sans-serif;
  font-size: 0.8em;
}

.scrollable{
  overflow-y: scroll;
  flex: 1;
  gap: 5px;
}

.scrollable::-webkit-scrollbar {
    width: 10px !important;
}

.scrollable::-webkit-scrollbar-track {
    background: #E8E9E8 !important;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #DFC721 !important;
    border-radius: 20px !important;
}

.abilities-section{
  display: flex;
  flex-direction: column;
  margin: 9px 0 9px 0;
  background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
  border-radius: 5px;
  margin-top: auto;
}

.section-header{
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-top-left-radius: 5px;
}

.header-title{
  width: 75%;
  height: 25px;
  background-color: #1B233D;
  font-size: 14px;
  border-bottom-right-radius: 90px;
  border-top-left-radius: 5px;
  display: flex;
  justify-self: flex-start;
  padding-left: 12px;
  padding-bottom: 9px;
}

.header-blank{
  background-color: transparent;
  height: 25px;
  width: 25%;
}

.section-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 12px;
  padding: 9px 12px 9px 12px;
}

.header-text{
  color: white;
  font-size: 12px;
  margin: auto;
}

.tooltip{
  max-width: 75%;
}

.loader {
  height: 60px;
  aspect-ratio: 1;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: bottom;
}
.loader::after {
  background:
    radial-gradient(at 75% 15%,#fffb,#0000 35%),
    radial-gradient(at 80% 40%,#0000,#0008),
    radial-gradient(circle  5px,#fff 94%,#0000),
    radial-gradient(circle 10px,#000 94%,#0000),
    linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
    linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
    #000;
  background-repeat: no-repeat;
  animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120);
}
.loader::before {
  background:#ddd;
  filter: blur(8px);
  transform: scaleY(0.4) translate(-13px, 0px);
}
@keyframes l20 { 
 30%,70% {transform:rotate(0deg)}
 49.99%  {transform:rotate(0.2deg)}
 50%     {transform:rotate(-0.2deg)}
}