@font-face {
  font-family: 'PokemonFont';
  src: url('../public/fonts/Pokemon_Solid.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #E8E9E8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:hover {
    overflow-y: scroll !important;
}

body::-webkit-scrollbar {
    width: 10px !important;
}

body::-webkit-scrollbar-track {
    background: #E8E9E8 !important;
}

body::-webkit-scrollbar-thumb {
    background-color: #DFC721 !important;
    border-radius: 20px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
